#croot
{
  box-sizing: border-box;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
}

#product
{
  border-style: outset;
  text-align: left;
  margin-left: 1%;
  margin-right: 1%;
  flex-direction: column;
  width: 30%;
  display: inline-flex;
  border-radius: 10px;
  height: 50%;
}

div.Pics
{
  display: inline-flex;
  height: 100%;
  width: 100%;
}

#hroot
{
  border-radius: 30px;
  width: 99.99%;
}

#hinner
{
  color: crimson;
  font-size: 30px;
  border-radius: 30px;
  width: 98%;
  background-color: crimson;
  border-style: solid;
  text-align: center;
}

#hleft
{
  float:left;
  width: 49%;
  text-align: left;
}

#hright
{
  float:right;
  width: 49%;
  text-align: right;
}

#froot
{
  border-radius: 30px;
  width: 99.99%;
}

#finner
{
  background-color: crimson;
  color: aliceblue;
  font-size: 30px;
  text-align: center;
  border-radius: 30px;
  clear: both;
  position: relative;
  width: 100%;
}